<br />
<div class="jumbotron">
  <p>Create and share markdown Wikis</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>
	<h1>Blocipedia: Social, Markdown Wikis</h1>
	
<div class="row">
 

 	
	  <div class="col-md-4">
	    <h2>Create as Many wikis as you want</h2>
	    <p>.</p>
	  </div>
	
	
	  <div class="col-md-4">
	    <h2>Create private Wikis</h2>
	    <p>.</p>
	  </div>

</div>
